<header class="header--main">
  <ul class="sidebar-nav">
    <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
    {{ range .Site.Menus.main -}}
      <li><a href="{{.URL}}"> {{ .Name }} </a></li>
    {{- end }}
  </ul>
  <span class="logo">
    <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Title }}</strong></a>
  </span>

  <ul class="sidebar-nav">
    <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
    {{ range .Site.Menus.main -}}
      <li><a href="{{.URL}}"> {{ .Name }} </a></li>
    {{- end }}
  </ul>

</header>