<div class="podcasts">
    {{ range where .Pages "Params.type" "podcasts"}}
    <div class="podcast">
        <picture class="podcast__picture-container">
            <img class="podcast__image" src="{{ .Params.image }}" alt="">
        </picture>
        <span class="podcast-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
        <section class="podcast__excerpt">
            <h2 class="podcast__title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </section>
    </div>
    {{ end }}
</div>