body{
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .site__container {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 32px;
    grid-template-columns: 1fr;
  }
  .content__container {
    display: grid;
    grid-template-columns: 2rem 500px 2rem 1fr 2rem;
  }

  body, a {
    color: #333333;
  }