body {
  font-family: "Georgia", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
}
* {
  box-sizing: border-box;
}
.site__container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 32px;
  grid-template-columns: 1fr;
}
.content__container {
  background: #f1f1f1;
  padding-bottom: 2rem
}

body,
a {
  color: #333333;
}
