.introduction {
    background: #fff;
    display: grid;
    grid-template-columns:  repeat(7, 1fr);
    margin-bottom: 2rem;
}
.introduction__tagline {
    grid-column: 3/6;
    padding: 2rem 0;
    text-align: center
}