{{ define "main" -}}
  <section class="hero">
    <img src="images/logo-by-rayray–transparant-white.png" class="hero__logo" alt="">
  </section>
  <!-- <section class="newsletter">
    <form class="newsletter__form">
        <h2 class="newsletter__title">Subscribe to newletter</h2>
        <input type="email" name="email" class="newsletter__input-email" id="">
        <input type="submit" value="Subscribe" class="newsletter__submit">
    </form>
  </section> -->
  <section class="introduction">
    <div class="introduction__tagline">
        <h1 class="" style="display:none;">Positivity By RayRay</h1>
        <h2 class="">
          <em>
              Develop a Positive Mindset so you can live a great life to enjoy.
          </em>
        </h2>
    </div>
  </section>
  {{ partial "posts.html" . }}
{{- end }}